.navbar {
    background-color: var(--color-primary);
    height: 74px;
    width: 100vw;
    padding: 0px 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    margin-left: 20px;
    display: flex;
    align-items: center;
}


/* Adjusting the CSS to target the correct class name */


/* Changed .button to .buttonContainer */

.buttonContainer {
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}